extends layout

block content
    #audiosection
    //- audio(src="./sounds/a2.wav", autoplay)
    //- audio(src="./sounds/c2.wav", autoplay)
    //- audio(src="./sounds/c3.wav", autoplay)
    //- h1= title
    //- .row
    //-     .one-half.column
    //-         label.inputItem(for="lat") Latitude?
    //-         input#lat(name="lat" type="number" placeholder="34.723452")
    //-     .one-half.column
    //-     label.inputItem(for="lon") Longitude?
    //-     input#lon(name="lon" type="number" placeholder="-104.123512")
    //- .row
    //-     
    //- label.inputItem(for="howfar") How Far (miles)?
    //- input#howFar(name="howfar" type="number" placeholder="20")
    //- br
    //- button.inputItem.button#getNumberWithin How many?
    #map
    
